<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgerdelphia Menu</title>
</head>

<body>


	{{{ body }}}

	
</body>
</html>